// @import "./variables.scss";

.wrapper {
    margin: 20px 100px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.book {

}
.course {
    
}